<a class="sidebar-logo" href="#/">
  <span>Training Center Explorer</span>
</a>

<div class="sidebar-menu">
  <ul class="list-none">
    <li  routerLinkActive="active">
        <a>
          <i class="sidebar-menu-icon pi pi-home"></i>
          <span class="sidebar-menu-text">Dashboard</span>
        </a>
      </li>
    <li  routerLinkActive="active">
      <a routerLink="user">
        <i class="sidebar-menu-icon pi pi-users"></i>
        <span class="sidebar-menu-text">Users</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a>
        <i class="sidebar-menu-icon pi pi-cart-plus"></i>
        <span class="sidebar-menu-text">Products</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a>
        <i class="sidebar-menu-icon pi pi-file-edit"></i>
        <span class="sidebar-menu-text">Blogs</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a>
        <i class="sidebar-menu-icon pi pi-book"></i>
        <span class="sidebar-menu-text">News</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a>
        <i class="sidebar-menu-icon pi pi-cog"></i>
        <span class="sidebar-menu-text">Email Settings</span>
      </a>
    </li>
  </ul>
</div>
