@import '../../../styles/colors';
.sidebar-logo {
  span {
    display: flex;
    color: $primary-color;
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
    padding: 35px 20px 20px;
  }
}

.sidebar-menu {
  overflow-y: auto;
  height: calc(100vh - 80px);

  ul {
    padding-left: 0;

    li {
      margin: 0 0 0 20px;
      &.active {
        background-color: #f1f0ff;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-right: 3px solid #7366ff;

        a {
          color: $primary-color;
        }
      }
      a {
        color: $secondary-color;
        align-items: center;
        display: flex;
        padding: 10px 15px;
        font-weight: 500;

        .sidebar-menu-icon {
          margin-right: 10px;
          font-size: 16px;
        }
      }
    }
  }
}

.sidebar-menu::-webkit-scrollbar {
  width: 12px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.sidebar-menu::-webkit-scrollbar-thumb {
  background-color: #e2e3e4;
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: padding-box;
}
